<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-newspaper-o"></i>&nbsp;{{ 'Newsfeed' | translate }}
        </a>
        <a [routerLink]="['/discounts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-tags"></i>&nbsp;{{ 'Discounts' | translate }}
        </a>
        <a [routerLink]="['/history']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-history"></i>&nbsp;{{ 'History' | translate }}
        </a>
        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-user-circle-o"></i>&nbsp;{{ 'Profile' | translate }}
        </a>
    </ul>
</nav>
