$topnav-background-color: #01579B;
.navbar {
    background: $topnav-background-color;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 2;
}

.navbar-brand {
    width: 100px;
}

.nav>li {
    float: left;
    display: inline-block;
}

.nav>li a {
    padding-top: 12px;
    padding-bottom: 13px;
    border: 0;
    border-radius: 0;
    color: #999;
    text-decoration: none;
    text-align: center;
}

.nav>li a:hover {
    background: darken($topnav-background-color, 5%);
    color: #fff;
}

.nav>li a.router-link-active {
    background: darken($topnav-background-color, 5%);
    color: #fff;
}

.nav>.dropdown>.dropdown-menu>.dropdown-item{
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 8px;
}
