    <nav class="navbar navbar-toggleable-md navbar-expand-lg fixed-top">
            <img class="navbar-brand" src="assets/images/logo2.png"/>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/dashboard']" [routerLinkActive]="['router-link-active']">
                    <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/discounts']" [routerLinkActive]="['router-link-active']">
                    <i class="fa fa-tags"></i>&nbsp;Discounts
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/datahub']" [routerLinkActive]="['router-link-active']">
                    <i class="fa fa-cubes"></i>&nbsp;DataHub
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/history']" [routerLinkActive]="['router-link-active']">
                    <i class="fa fa-history"></i>&nbsp;History
                    </a>
                </li>
                <li class="nav-item dropdown navbar-toggler-right" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> John Smith <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
                        <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['/profile']">
                            <i class="fa fa-fw fa-user"></i> Profile
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">
                            <i class="fa fa-fw fa-power-off"></i> Log Out
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
