.timeline {
    position: relative;
    padding: 20px 0 20px;
    list-style: none;
}

.timeline:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
    background-color: #eeeeee;
}

.timeline > li {
    position: relative;
    margin-bottom: 20px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
    clear: both;
}

.timeline > li > .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
    padding: 15px;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.timeline > li > .timeline-panel:before {
    content: " ";
    display: inline-block;
    position: absolute;
}

.timeline > li > .timeline-panel:after {
    content: " ";
    display: inline-block;
    position: absolute;
}

.timeline-heading {

    margin-bottom: 0px !important;

    .timeline-time {
        text-align: right;
        margin-bottom: 0px !important;
    }

    .timeline-title {
        float: left;
        margin-bottom: 0px !important;
    }
}

.timeline-body {
    margin-top: 0px !important;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    margin-top: 0;
    color: inherit;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

@media(max-width:767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        top: 16px;
        left: 15px;
        margin-left: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

    ul.timeline > li > .timeline-panel:before {
        right: auto;
        left: -15px;
        border-right-width: 15px;
        border-left-width: 0;
    }

    ul.timeline > li > .timeline-panel:after {
        right: auto;
        left: -14px;
        border-right-width: 14px;
        border-left-width: 0;
    }

    .timeline > .company-logo{
        width: 50px;
        height: 50px;
    }
}

ul.no-activity {
    text-align: center;
}

ul.no-activity > li {
    display: inline-block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

ul.no-activity > li > a{
    width: auto;
    margin: auto;
    display: block;
    margin-top: 10px;
}
