<app-company-header></app-company-header>
<p>
<div class="company-dashboard" [@routerTransition]>
    <div class="card mb-3 main-card">
            <h3>Spotify 25 Promo</h3>
            <h5>Male - African American - Dallas, Texas - 43</h5>

            <div style="padding: 0px;">
                <div style="display: inline-block;">
                    <button class="btn btn-success">Accept</button>
                    <button class="btn btn-danger">Decline</button>
                </div>
                    <a style="display: inline-block; text-align: right; color: red;
                bottom: 5px; right: 5px; position: absolute" href="javascript:void(0)">
                Report</a>
            </div>
    </div>
    <div class="card mb-3 main-card">
        <h3>Hulu Plus Promo</h3>
        <h5>Female - Caucasian - Kansas City, Kansas - 24</h5>

        <div>
            <button class="btn btn-success">Accept</button>
            <button class="btn btn-danger">Decline</button>
        </div>
        <a style="display: inline-block; text-align: right; color: red;
                bottom: 5px; right: 5px; position: absolute" href="javascript:void(0)">
            Report</a>
    </div>
</div>
