<div class="card-block">
    <ul class="timeline">
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">McDonald's</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago</small></p>
                </div>
                <div class="timeline-body">
                    <p>Do you love our Chicken McNuggets&reg;? Tell us about your most recent experience!</p>
                    <li><a href="#">Apply</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Apple</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 day ago</small></p>
                </div>
                <div class="timeline-body">
                    <p>From the iPhone to the iPad to the Macbook Pro, tell us how you use our products.</p>
                    <p>We're interested in how people use our products at work and home.</p>
                    <li><a href="#">Apply</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Amazon</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 1 week ago</small></p>
                </div>
                <div class="timeline-body">
                    <p>Own a small-business? We want to know about it! </p>
                    <li><a href="#">Apply</a>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Spotify</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago</small></p>
                </div>
                <div class="timeline-body">
                    <p>What are your favorite playlists of the year?</p>
        <li><a href="#">Apply</a>
            </div>
            </div>
        </li>
    </ul>
</div>
