<app-header></app-header>
<div class="history-page" [@routerTransition]>
    <div class="row">
        <div class="col col-xl-8 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Your History</div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Applied</th>
                            <th>Status</th>
                            <th>Coupon</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Apple</td>
                            <td>Approved</td>
                            <td>25% off headphones</td>
                        </tr>
                        <tr>
                            <td>AMC</td>
                            <td>Pending</td>
                            <td>--</td>
                        </tr>
                        <tr>
                            <td>Hulu</td>
                            <td>Denied</td>
                            <td>X</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
