<app-company-header></app-company-header>
<div class="company-request" [@routerTransition]>
    <div class="card mb-3 main-card">
        <div class="card-header">Request Promotion (All fields are required.)</div>
        <br>
        <label>Describe discount you are providing:</label>
        <mat-form-field color="accent">
            <input matInput placeholder="ex: 15% off headphones">
        </mat-form-field>
        <br>
        <label>Describe data you are requesting:</label>
        <mat-form-field color="accent">
            <input matInput placeholder="ex: Page Likes">
        </mat-form-field>
        <br>
        <label>What is overall purpose of data?</label>
        <mat-form-field color="accent">
            <input matInput placeholder="ex: Product research">
        </mat-form-field>
        <br>
        <label>Please provide discount code:</label>
        <mat-form-field color="accent">
            <input matInput placeholder="ex: 123ABC">
        </mat-form-field>
        <br>
        <button class="btn btn-primary">Submit</button>
    </div>
</div>
