<nav class="navbar navbar-toggleable-md navbar-expand-lg fixed-top">
    <img class="navbar-brand" src="assets/images/logo2.png"/>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-toggler-right">
            <li class="nav-item">
                <button class="btn btn-outline-primary" (click)="login()"> Login or Sign Up </button>
            </li>
        </ul>
    </div>
</nav>
<div class="bg">
    <div class="container text-white header">
        <h1>Turn data into deals.</h1>
        <img src="assets/images/logo2.png" class="logo-avatar" />
        <br>
    </div>
</div>

<section id="description" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Interesting stuff will go here...</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>

<section id="visual-section">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <i class="fa fa-cubes fa-5x" aria-hidden="true"></i>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>

