<nav class="navbar navbar-toggleable-md navbar-expand-lg fixed-top" [ngStyle]="navStyle">
    <img class="navbar-brand" src="./assets/images/logo2.png"/>
    <button class="btn btn-primary" (click)="login()"> <i class="fa fa-lock"></i> Log In </button>
</nav>
<div class="placeholder">
    <div class="bg">
        <div class="container text-white header">
            <h1>Control Your Data.</h1>
            <img src="assets/images/logo2.png" class="logo-avatar" />
            <br>
    </div>
    </div>
</div>
<section id="description" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>This site is under construction! <i class="fa fa-wrench"></i></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>

<section id="visual-section">
    <div class="container text-white">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2> <i class="fa fa-cubes" aria-hidden="true"></i> Check back again soon!</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
            </div>
        </div>
    </div>
</section>

