<div *ngIf="data.data_platform === 'Facebook'">
    <h1 mat-dialog-title>Confirm data submission to {{data.data_platform}}:</h1>
    <ul mat-dialog-content>
        <li>Birthdays</li>
        <li>Liked Pages</li>
    </ul>


    <div mat-dialog-actions>
        <button class="btn btn-primary" (click)="facebook_login()" color="primary">
            Agree
        </button>
        <button class="btn btn-outline-primary" (click)="dialogRef.close()">
            Cancel
        </button>
    </div>
</div>
