<app-header></app-header>
<div class="user-detail-page" [@routerTransition]>
    <div class="card mb-3 main-card">
        <div class="card-header">User Profile</div>
        <div class="spinner" *ngIf="showSpinner">
            <app-loading></app-loading>
        </div>
        <div class="image-cropper" *ngIf="!showSpinner">
            <img class="card-img" src={{userURL}}>
        </div>
        <div class="card-block" *ngIf="!showSpinner">
            <button class="btn btn-secondary" disabled>@{{userName}}</button>
            <button *ngIf="!(following.indexOf(userName) > -1)" #elem id="followed" class="btn btn-primary" (click)="followClick(elem.id)">Follow</button>
            <button *ngIf="(following.indexOf(userName) > -1)" #elem id="not-followed" class="btn btn-primary" (click)="followClick(elem.id)">Followed <i class="fa fa-check"></i></button>

        </div>
        <div class="card-block mb-3" *ngIf="!showSpinner">
            <div class="card-header">Recent Activity</div>
            <ul>
                <li *ngFor="let activity of userActivity">
                    <p> @{{userName}}
                        {{activity.status === 'Approved' ? "received" : "applied to" }}
                        <u>{{activity.discount_description}}</u> offer from
                        <a [routerLink]="['/company-detail', activity.discount_company]">@{{activity.discount_company}}</a>.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
