<app-header></app-header>
<div class="discount-page" [@routerTransition]>
    <div class="row">
        <div class="col col-xl-8 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Your Discounts</div>
                <div class="spinner" *ngIf="showSpinner">
                    <app-loading></app-loading>
                </div>
                <div class="card-block table-responsive" *ngIf="!showSpinner">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Description</th>
                            <th>Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let discount of discounts">
                            <td>{{discount.company}}</td>
                            <td>{{discount.description}}</td>
                            <td>{{discount.code}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
