<div class="discount-page" [@routerTransition]>
    <div class="row">
        <div class="col col-xl-8 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">Your Discounts</div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Discounts</th>
                            <th>Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Apple</td>
                            <td>25% Off Headphones</td>
                            <td>G7TQRS</td>
                        </tr>
                        <tr>
                            <td>AMC</td>
                            <td>$5.00 off movie tickets</td>
                            <td>O7R3QL</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
