<app-header></app-header>
<div class="discount-page" [@routerTransition]>
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">Your Discounts</div>
                <div class="spinner" *ngIf="showSpinner">
                    <app-loading></app-loading>
                </div>
                <div class="card-block table-responsive" *ngIf="!showSpinner">
                    <table class="table table-hover table-striped" *ngIf="(discounts.length !== 0)">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Description</th>
                            <th>Code</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let discount of discounts">
                            <td><a [routerLink]="['/company-detail', discount.company]">
                                @{{discount.company}}
                            </a></td>
                            <td>{{discount.description}}</td>
                            <td>{{discount.code}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover table-striped" *ngIf="(discounts.length === 0)">
                        <img class="company-logo" src="assets/images/logo3.png"/>
                        <h4 class="text-center">You currently don't have any discounts...</h4>
                        <h4 class="text-center">Follow and like a company's post to apply!</h4>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
