<app-header></app-header>
<div class="profile-page" [@routerTransition]>
    <div class="card mb-3 main-card">
        <div class="card-header">Your Profile</div>
        <div class="spinner" *ngIf="showSpinner">
            <app-loading></app-loading>
        </div>
        <div class="image-cropper" *ngIf="!showSpinner">
            <img class="card-img" src={{profile?.picture}}>
        </div>
        <div class="card-block" *ngIf="!showSpinner">
            <button class="btn btn-secondary" disabled>@{{profile?.nickname}}</button>
            <button class="btn btn-secondary" disabled>Email: {{profile?.email}}</button>
        </div>
        <div class="card-block mb-3" *ngIf="!showSpinner">
            <div class="card-header">Recent Activity</div>
            <table style="margin: 0px" class="table table-hover table-striped">
                <tbody>
                <tr *ngFor="let activity of discount_activity">
                    <p style="margin: 10px 20px">You {{activity.status === 'Approved' ? "received" : "applied to" }}
                        <u>{{activity.discount_description}}</u> offer from
                        <a [routerLink]="['/company-detail', activity.discount_company]">@{{activity.discount_company}}</a>.
                    </p>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-block mb-3" *ngIf="!showSpinner">
            <div class="card-header">Companies You Follow</div>
            <ul class="following">
                <li *ngFor="let company of company_following">
                    <button [routerLink]="['/company-detail', company]" class="btn-primary">@{{company}}</button>
                </li>
            </ul>
        </div>
        <div class="card-block mb-3" *ngIf="!showSpinner">
            <div class="card-header">Users You Follow</div>
            <ul class="following">
                <li *ngFor="let user of user_following">
                    <button [routerLink]="['/user-detail', user]" class="btn-success">@{{user}}</button>
                </li>
            </ul>
        </div>
    </div>
</div>
