<div class="profile-page" [@routerTransition]>
    <div class="row">
        <div class="col col-xl-8 col-lg-12">
            <div class="card mb-3 main-card">
                <div class="card-header">Profile Page</div>
                    <div class="card-block">
                        <img class="card-img-top" src="../assets/images/avatar.png">
                        <button class="btn btn-secondary" disabled>@JohnSmith</button>
                        <button class="btn btn-primary">Follow</button>
                    </div>
                <div class="card mb-3">
                    <div class="card-header">Recent Activity</div>
                    <ul>
                        <li>
                            <div class="card-block">
                                <p>John received 35% off Nike's "Data for headphones" offer. </p>
                            </div>
                        </li>
                        <li>
                            <div class="card-block">
                                <p>John received 20% off McDonald's "McMeal Data deal" offer.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
