<div *ngIf="data.isLiked">
    <h1 mat-dialog-title>Confirm application to discount offer:</h1>
    <p> Submit {{data.data_desc}} on {{data.data_platform }} for {{data.coupon_desc}}.</p>

    <div mat-dialog-actions>
        <button class="btn btn-primary" (click)="confirm()" color="primary">
            Apply
        </button>
        <button class="btn btn-outline-primary" (click)="dialogRef.close()">
            Cancel
        </button>
    </div>
</div>
<div *ngIf="!data.isLiked">
    <h1 mat-dialog-title>Withdraw application to discount offer:</h1>
    <p> Submit {{data.data_desc}} on {{data.data_platform }} for {{data.coupon_desc}}.</p>
    <p style="color: red"> All data will be removed. </p>
    <div mat-dialog-actions>
        <button class="btn btn-primary" (click)="confirm()" color="primary">
            Withdraw
        </button>
        <button class="btn btn-outline-primary" (click)="dialogRef.close()">
            Cancel
        </button>
    </div>
</div>
