.card {
    margin-top: 10px;
    left: 25%;
    right: 25%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
}

.spinner{
    height: 50%;
    width: 100%;
    z-index: 999;
}

.btn{
    color: #01579B;
}

.company-logo {
    height: 80px;
    display:block;
    margin:auto;
    padding-bottom: 10px;
}
