<app-header></app-header>
<div class="datahub-page" [@routerTransition]>
    <div class="row">
        <div class="col col-xl-8 col-lg-12">
            <div class="card mb-3">
        <div class="card-header">Datahub</div>
        <div class="row">
            <div class="card-block">
                <img class="card-img-top" src="../assets/images/spotify.png" alt="Card image cap">
            </div>
            <div class="card-block">
                <img class="card-img-top" src="../assets/images/amazon.png" alt="Card image cap">
            </div>
            <div class="card-block">
                <img class="card-img-top" src="../assets/images/facebook.png" alt="Card image cap">
            </div>
        </div>
        </div>
    </div>
    </div>
    <app-facebook></app-facebook>
</div>
