<app-header></app-header>
<div class="history-page" [@routerTransition]>
    <div class="row">
        <div class="col-lg-8">
            <div class="card card-default">
                <div class="card-header">DataHub</div>
                <div class="spinner" *ngIf="showSpinner">
                    <app-loading></app-loading>
                </div>
                <div class="card-block table-responsive" *ngIf="!showSpinner && !noActivity">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Coupon Description</th>
                            <th>Data Description</th>
                            <th>Data Platform</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let activity of history">
                            <td><a [routerLink]="['/company-detail', activity.discount_company]">
                                @{{activity.discount_company}}
                            </a></td>
                            <td>{{activity.discount_description}}
                            <td>{{activity.data_description}}</td>
                            <td>{{activity.data_platform}}</td>
                            <th><button mat-raised-button (click)="openDialog(activity.data_platform)" color="primary">
                                Submit Data
                            </button></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <h4 class="text-center" *ngIf="noActivity">You don't have any approved applications yet...</h4>
        </div>
    </div>
</div>
