<app-header></app-header>
<div class="company-detail-page" [@routerTransition]>
    <div class="card mb-3 main-card">
        <div class="card-header">Company Profile</div>
        <div class="spinner" *ngIf="showSpinner">
            <app-loading></app-loading>
        </div>
        <div class="image-cropper" *ngIf="!showSpinner">
            <img class="card-img" src={{companyURL}}>
        </div>
        <div class="card-block" *ngIf="!showSpinner">
            <button class="btn btn-secondary" disabled>@{{companyName}}</button>
            <button *ngIf="!(following.indexOf(companyName) > -1)" #elem id="followed" class="btn btn-primary" (click)="followClick(elem.id)">Follow</button>
            <button *ngIf="(following.indexOf(companyName) > -1)" #elem id="not-followed" class="btn btn-primary" (click)="followClick(elem.id)">Followed <i class="fa fa-check"></i></button>
        </div>
        <div class="card-block mb-3" *ngIf="!showSpinner">
            <div class="card-header">Recent Activity</div>
            <table class="table table-hover table-striped">
                <tbody>
                <tr *ngFor="let activity of companyActivity">
                <div class="row">
                    <p class="activity">Submit {{activity.data_desc}} on {{activity.data_platform }} for {{activity.coupon_desc}}.</p>
                    <a *ngIf="!(discounts.indexOf(activity.discount_id) > -1)" #elem id="1{{activity.discount_id}}"
                       class="like-button"
                       href="javascript:void(0)" (click)="isLiked(activity, elem.id)">Like <i class="fa fa-thumbs-o-up"></i></a>
                    <a *ngIf="(discounts.indexOf(activity.discount_id) > -1)" #elem id="2{{activity.discount_id}}"
                       class="like-button"
                       href="javascript:void(0)" (click)="isLiked(activity, elem.id)">Liked <i class="fa fa-thumbs-up"></i></a>
                </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
